@charset "UTF-8";

/* 메인페이지 */
#mainpage { background-color: #f8f9fa; }
#mainpage .main_kv { height:560px; position:relative; overflow:hidden; }
#mainpage .kv_item { position:relative; }
#mainpage .kv_item:before { content:''; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.01); position:absolute; top:0; left:0; }
#mainpage .kv_item:after { content: ''; display: block; opacity: 0.8; background-image: linear-gradient(0deg,#000,transparent 19.31%); z-index: 90; position: absolute; top: 0; left: 0;
width: 100%; height: 100%; }
#mainpage .event_banner { position:absolute; bottom:0; left:50%; transform:translate(-50%, 0); display:flex; z-index:100; }
#mainpage .event_banner_item { width:255px; text-align:center; background: rgba(0,0,0,0.5);  }
#mainpage .top_link_area { display:block; padding:20px 0; }
#mainpage .event_banner_item:hover { background:rgba(0,0,0,0.3); transition:all 0.3s; }
#mainpage .event_banner_item:not(:last-child) { margin:0 2px 0 0; }
#mainpage .event_txt_wrap { color: rgba(255,255,255,0.5); }
#mainpage .event_banner_item:hover .event_txt_wrap { color:#fff; transition:all 0.3s;  }
#mainpage .txt_kor { font-size:14px; margin:0 0 10px; }
#mainpage .txt_eng { font-size:18px; font-weight:700; }
#mainpage .session_txt { font-size:24px; }
#mainpage .session_txt strong { color: #07f; font-weight:700; }
#mainpage .hash_txt { padding:20px 0; font-weight: 700; color: #00cec6; }
#mainpage .content_area { padding:60px 0; }
#mainpage .gamebox_cont { display:flex; justify-content:space-between; }
#mainpage .gamebox_item { background-color:#fff; overflow:hidden; }
#mainpage .gamebox_item .img_area { width:302px; height:200px; position:relative; }
#mainpage .gamebox_item .img_area:after { content:''; display:block; position:Absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.1); }
#mainpage .gamebox_item .img_area img { width:100%; height:100%; }
#mainpage .game_txt_wrap { padding:20px; }
#mainpage .game_name_txt { margin:0 0 20px; font-size:18px; font-weight:700; }
#mainpage .game_type_txt { font-size:14px; color:#9fa1a7; }
#mainpage .gamebox_item:hover { box-shadow: 0 0 16px 0 rgba(0,0,0,.16); transition: all .2s linear; }
#mainpage .gamebox_item:hover .img_area img { transform:scale(1.1); transition:all 0.3s; }
#mainpage .gamebox_item:hover .img_area:after { background:rgba(255,255,255,0.1);  }






