@charset "UTF-8";

/* 로그인 페이지 (/login.gg) */
#member_login .container { width:460px; margin:0 auto; }
#member_login .login_section { padding:60px 0; }
#member_login .login_wrap input { display: inline-block; width: 100%; height: 56px; padding: 18px 12px; box-sizing: border-box; font-size: 16px; border: 1px solid #e5e8eb; color:#17191d; font-weight:700; }
#member_login .login_wrap input::placeholder { color:#e5e8eb; font-weight:700; }
#member_login .login_wrap input:focus { border:2px solid #07f; }
#member_login .login_wrap .login_id { margin:0 0 10px; }
#member_login .btn_wrap { margin:30px 0 0; }
#member_login .btn_submit { display:block; padding:19px 0; width:100%; font-size:18px; background-color: #17191d; color:#fff; font-weight:700; cursor:pointer }

/* 회원가입 페이지 (/register.gg) */
#member_register .register_wrap { padding:60px 0; }
#member_register .register_wrap ul { width:600px; margin:0 auto 30px; }
#member_register .register_wrap ul li { display:flex; align-items:center; margin: 0 0 20px; }
#member_register .register_wrap ul li label { width:100px; font-size:18px; }
#member_register .info_line input { display: inline-block; width: 100%; height: 56px; padding: 18px 12px; box-sizing: border-box; font-size: 16px; border: 1px solid #e5e8eb; color:#17191d; font-weight:700; } 
#member_register .info_line input:focus { border:2px solid #07f; }
#member_register .info_gender input { width:40px; height:20px; }
#member_register .info_address { position:relative; }
#member_register input.address_btn { position:absolute; top:0; right:-110px; width:100px; background-color: #07f; color: #fff; cursor:pointer; border-radius: 4px; }
#member_register .check_radio { display:flex; width:400px; }
#member_register .btn_wrap { display:flex; justify-content: center; }
#member_register .btn_wrap .btn { display:block; width:120px; height:56px; background-color:#17191d; font-size:18px; color:#fff; } 
#member_register .btn_wrap .btn.btn_submit { margin:0 4px 0 0; border-radius: 4px; }

/* 마이 페이지 (/mypage.gg) */
#member_mypage .mypage_wrap { padding:60px 0; }
#member_mypage .mypage_wrap ul { width:600px; margin:0 auto; }
#member_mypage .mypage_wrap ul li { display:flex; align-items:center; margin: 0 0 20px; }
#member_mypage .mypage_wrap ul li label { width:100px; font-size:18px; }
#member_mypage .mypage_wrap ul li input { display: inline-block; width: 100%; height: 56px; padding: 18px 12px; box-sizing: border-box; font-size: 16px; border: 1px solid #e5e8eb; color:#17191d; font-weight:700; }
#member_mypage .btn_wrap { display:flex; justify-content:center; }
#member_mypage .btn_update { background-color:#6e81df; padding:20px; color:#fff; border-radius:4px; }

/* 수정 페이지 (/update.gg) */
#member_update .modify_wrap { padding:60px 0; }
#member_update .modify_wrap ul { width:600px; margin:0 auto 30px; }
#member_update .modify_wrap ul li { display:flex; align-items:center; margin: 0 0 20px; }
#member_update .modify_wrap ul li label { width:100px; font-size:18px; }
#member_update .info_line input { display: inline-block; width: 100%; height: 56px; padding: 18px 12px; box-sizing: border-box; font-size: 16px; border: 1px solid #e5e8eb; color:#17191d; font-weight:700; } 
#member_update .info_line input:focus { border:2px solid #07f; }
#member_update .info_gender input { width:40px; height:20px; }
#member_update .info_address { position:relative; }
#member_update input.address_btn { position:absolute; top:0; right:-110px; width:100px; background-color: #07f; color: #fff; cursor:pointer; border-radius: 4px; }
#member_update .check_radio { display:flex; width:400px; }
#member_update .btn_wrap { display:flex; justify-content: center; }
#member_update .btn_wrap .btn { display:block; width:160px; height:56px; line-height:56px; text-align:center; background-color:#17191d; font-size:16px; color:#fff; border-radius:4px; } 
#member_update .btn_wrap .btn_delete { margin:0 4px; text-align:center;  }





























